#mainTable
{
	margin:auto;
	margin-top:10%;
}

#legendTable
{
	width:325px;
	margin:auto;
	
}

td, th
{
	border: 1px solid black;
	text-align:center;
	font-size:2em;
}

th
{
	width:650px;
	height:40px;
}

.StepUn
{
	background-color:orange;
}

.StepDeux
{
	background-color:yellow;
}